
@font-face {
    font-family: Alternate-Gothic;
    src: url("../fonts/alternate-gothic-no3-d.ttf");
}
@font-face {
    font-family: Book-Antigua;
    src: url("../fonts/book-antiqua-regular.ttf");
}
h1,h2,h3,h4,h5,h6{
  color:#63094a;
}
a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}
/* force scrollbar */
html { overflow-y: scroll; }
body{
  margin:0;
  font-family: 'Alternate-Gothic';
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type='text']{
  font-family: 'Book-Antigua';
  background-color: #EEEEEE;
  border: 1px solid #DCDBDC;
  vertical-align: super;
  height: 30px;
}
p { margin: 0 0 10px 0; font-family:'Book-Antigua';line-height: 1.3em;}
.fa-lg {font-size: 1.13333333em !important; line-height: 1.1em !important;}
.fa-2x {
    font-size: 1.5em !important;
}
a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.feed-source{
  position: absolute;
  right: 15px;
  width: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  z-index: 5;
  bottom: 15px;
  height: 40px;
}
.feed-source-1{
	background-image:url("../images/icon_fb.png");
}
.feed-source-2{
	background-image:url("../images/icon_tw.png");
}
.feed-source-3{
	background-image:url("../images/icon_ins.png");
}
.feed-source-4{
	background-image:url("../images/icon_play.png");
}
.feed-source-5{
	background-image:url("../images/icon_pin.png");
}

.item:hover .post-title-color {
    opacity: 0.8;
}
.post-title-color.color-namebar-buttons {
    left: 9%;
    top: 17%;
    width: 81% !important;
    height: 68% !important;
}
.post-title-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.text-container{
  position: relative;
  top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.color-namebar-buttons{
    background-color: #751a51;
}
.time-text {
  color:#3c062d;
  font-family: 'Alternate-Gothic';
  font-size: 14px;
  padding: 0 10%;
  text-align: center;
  font-weight: 900;
  margin: 0 0 4px 0;
}
.post-title-color.color-namebar-buttons > div > p >span{
     overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
    padding: 0 10%;
    line-height: 1.1em;
    font-family:'Book-Antigua';
}
.cta{
  font-family: Book-Antigua;
  text-transform: uppercase;
  margin-top: 12px;
}
.ugc-cta {
  background: #751a51;
  color: white;
  padding: 29% 10px;
  text-align: center;
  width: inherit;
  height: inherit;
}
.ugc-cta .small-text {
  font-size: 14px;
  font-family: 'Book-Antigua';
}
.ugc-cta .brand-name {
  font-size: 1.6em;
  line-height: 1.4em;
  font-family: 'Alternate-Gothic';
}
.ugc-cta .sm-icons {
  margin-top: 10px;
}
.ugc-cta .sm-icons > div {
  margin: 0 5px;
}

.item {
  vertical-align: bottom;  
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  width: 150px;
  height: 60px;
  float: left;
  overflow: hidden;
  opacity: 0;
  //padding: 0.4%;
}
.item img{ 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  //left: 0 !important;
  /*top: 0;
  bottom: 0;
  right: 0;*/
}
.item img:hover {
  zoom: 1;
  opacity:0.75 !important;
  filter: alpha(opacity=75) !important;
}

.item-w0,.item-w6,.item-w9 { width: 516px; height: 516px}

.item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
.item-w7,.item-w8,.item-w10,
.item-w11,.item-w12,.item-w13,.item-w14,
.item-w15{ width: 256px; height: 256px}

.packery{
  margin: 0 auto;
  max-width: 1036px; 
}
.packery:after {
  content: '';
  display: block;
  clear: both;
}
@media only screen and (max-width: 509px){

    .item-w0,.item-w6,.item-w9,.item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 350px; height: 350px}
    .packery{max-width: 350px;}
    .footer {width: 95% !important;}
}
@media only screen and (min-width: 510px) and (max-width: 629px) {

    .item-w0,.item-w6,.item-w9 { width: 404px; height: 404px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 200px; height: 200px}
    .packery{max-width: 410px;}
    .footer {width: 73% !important;}
}
@media only screen and (min-width: 630px) and (max-width: 767px) {

    .item-w0,.item-w6,.item-w9 { width: 454px; height: 454px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 225px; height: 225px}
    .packery{max-width: 490px;}
    .footer {width: 60% !important;}
}

@media only screen and (min-width: 510px) and (max-width: 1050px) {
  .item-w1 > .post-title-color >.text-container p,
    .item-w2 > .post-title-color >.text-container p,
    .item-w3 > .post-title-color >.text-container p,
    .item-w4 > .post-title-color >.text-container p,
    .item-w5 > .post-title-color >.text-container p,
    .item-w7 > .post-title-color >.text-container p,
    .item-w8 > .post-title-color >.text-container p,
    .item-w10 > .post-title-color >.text-container p,
    .item-w11 > .post-title-color >.text-container p,
    .item-w12 > .post-title-color >.text-container p,
    .item-w13 > .post-title-color >.text-container p,
    .item-w14 > .post-title-color >.text-container p,
    .item-w15 > .post-title-color >.text-container p
    {display:none;}
}
@media only screen and (min-width: 768px) and (max-width: 1050px) {

    .item-w0,.item-w6,.item-w9 { width: 384px; height: 384px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 190px; height: 190px}
    .packery{max-width: 600px;}
    .footer {width: 50% !important;}
}
@media only screen and (min-width: 1500px) and (max-width: 2550px) {

    .item-w0,.item-w6,.item-w9 { width: 704px; height: 704px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 350px; height: 350px}
    .packery{max-width: 1440px;}
    .footer {width: 26% !important;}
    .ugc-cta { padding: 35% 10px;}
}

.feed-first-text{
  background-color: white;
  position: relative;
  top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.feed-first-text .feed-title{
  font-size: 1.6em;
  line-height: 2.4em;
  font-family: 'Alternate-Gothic';
  color: #751a51;
}
.feed-first-text >.feed-title > p{
  color: black;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.gutter-sizer {
  width: 2%;
}
.grid-sizer {
  width: 18.4%;
}

.spacer{
  height: 150px;
}
.follow{
    text-align: center;
    margin-top: 5px;
}
.follow.unclick a{
  pointer-events: none;
  cursor: default;
}
.follow span,.follow a{
    margin:2px;
    color: #FAFAFA;
    background-color: #3c062d;
    padding: 7px
}
.follow span:hover,.follow a:hover{
    margin:2px;
    color: #FAFAFA;
    background-color: #5f0a47;
    padding: 7px
}


/*******header styles*******/

.header{
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 72%;
  height:300px;
}
.logo{
  margin: 0 auto;
  width: 180px;
  margin-bottom: 20px;
  cursor:pointer;   
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
}
.logo img{
  max-width: 180px;
}
nav{
  display: block;
  text-transform: uppercase;
}
.nav-item{
  display: inline-block !important;
  vertical-align: middle;
  font-size: 23px;
  padding: 20px;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
    color: black;
}
.col-md-3,.col-md-2{
    float: right !important;
    width: 270px !important;
}
.filter-section{
  width:100%;
  margin:50px auto;
}
.filter-section-about {
    width: 45%;
    margin: 27px auto;
}
.tc{
  text-align: center;
}
.ac{
  margin: 0 auto;
}
.tl{
  text-align: left;
}
.search-buttons{
  color:white;
  margin:15px auto;
}
.hastag{
  margin: 40px;
}
.hastag p{
  width: 45%;
}
.search-buttons span i {
  background-color: #63094a;
  width: 41px;
  height: 41px;
  border-radius: 26px;
  line-height: 42px;
  padding-left: 0px;
  cursor: pointer;
}
.search-buttons > span {
    padding-left: 14px;
}
.social-buttons{
  color:white;
  margin:35px auto;
}
.social-buttons a i {
  background-color: #63094a;
  width: 52px;
  height: 52px;
  line-height: 52px;
  padding-left: 0px;
  cursor: pointer;
  margin-top: 10px;
  color:white;
}
.social-buttons > a {
    padding-left: 14px;
    color:white;
}
.social-buttons > a i:hover {
  background-color: #c5c3c4;
}
.footer {
    width: 37%;
}
footer{
    margin: 100px 0;
    height: 120px;
}
.about-text{
  line-height: 1.8em;
  font-size: 16px;
  margin-bottom: 80px;
}
.breadcrum-page{
  color:#c5c3c4;
  font-size: 23px;
  text-transform: uppercase;
  margin: 96px 0 32px 0;
  letter-spacing: 5px;
}
.active > a{
  border:1px solid;
}
.address{
  width: 180px;
}
.cursor{
  cursor: pointer;
}
#searchterm{
  color:black;
}
/*******BEGIN GO TO TOP STYLES*********/
.cd-top {
  z-index:1;
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(117, 26, 81, 0.8) url('https://static1.squarespace.com/static/55372884e4b0282a8b8c6877/t/55794c7be4b0bc473a032d30/1434012795546/cd_top_arrow.png') no-repeat center 50%;
  background-size: 44%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-stop{
  visibility: hidden;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .cd-top:hover {
  background-color: #3d042d ;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
/*******END GO TO TOP STYLES*********/
