
@font-face {
    font-family: Alternate-Gothic;
    src: url("../fonts/alternate-gothic-no3-d.ttf");
}
@font-face {
    font-family: Book-Antigua;
    src: url("../fonts/Book+Antiqua+Regular.ttf");
}
h1,h2,h3,h4,h5,h6{
  color:#63094a;
}
/* force scrollbar */
html { overflow-y: scroll; }
body{
  margin:0;
  font-family: 'Alternate-Gothic';
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
p { margin: 0 0 10px 0; font-family: 'Book-Antigua';}
.fa-lg {font-size: 1.13333333em !important;}
a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.feed-source{
  position: absolute;
  right: 15px;
  width: 40px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  z-index: 5;
  bottom: 15px;
  height: 40px;
}
.feed-source-1{
	background-image:url("../images/icon_fb.png");
}
.feed-source-2{
	background-image:url("../images/icon_tw.png");
}
.feed-source-3{
	background-image:url("../images/icon_ins.png");
}
.feed-source-4{
	background-image:url("../images/icon_play.png");
}
.feed-source-5{
	background-image:url("../images/icon_pin.png");
}

.item:hover .post-title-color {
    opacity: 0.8;
}
.post-title-color.color-namebar-buttons {
    left: 9%;
    top: 15%;
    width: 81% !important;
    height: 68% !important;
}
.post-title-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
}
.text-container{
  position: relative;
  top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
}
.color-namebar-buttons{
    background-color: #751a51;
}
.post-title-color.color-namebar-buttons > div > p >span{
     overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    color: white;
    text-align: center;
    padding: 0 10%;
}
.ugc-cta {
  background: #751a51;
  color: white;
  padding: 40% 10px;
  text-align: center;
  width: inherit;
  height: inherit;
}
.ugc-cta .small-text {
  font-size: .9em;
  font-family: 'Alternate-Gothic';
}
.ugc-cta .brand-name {
  font-size: 1.6em;
  line-height: 1.4em;
  font-family: 'Alternate-Gothic';
}
.ugc-cta .sm-icons {
  margin-top: 10px;
}
.ugc-cta .sm-icons > div {
  margin: 0 5px;
}

.item {
  vertical-align: bottom;  
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  width: 150px;
  height: 60px;
  float: left;
  overflow: hidden;
  opacity: 0;
  padding: 0.4%;
}
.item img{ 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  left: 0 !important;
  /*top: 0;
  bottom: 0;
  right: 0;*/
}

.item img:hover {
  zoom: 1;
  opacity:0.75 !important;
  filter: alpha(opacity=75) !important;
}

.item-w0,.item-w6,.item-w9 { width: 512px; height: 512px}

.item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
.item-w7,.item-w8,.item-w10,
.item-w11,.item-w12,.item-w13,.item-w14,
.item-w15{ width: 256px; height: 256px}

.packery{
  margin: 0 auto;
  max-width: 1036px; 
}
.packery:after {
  content: '';
  display: block;
  clear: both;
}
@media only screen and (max-width: 509px){

    .item-w0,.item-w6,.item-w9,.item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 350px; height: 350px}
    .packery{max-width: 350px;}
}
@media only screen and (min-width: 510px) and (max-width: 629px) {

    .item-w0,.item-w6,.item-w9 { width: 400px; height: 400px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 200px; height: 200px}
    .packery{max-width: 400px;}
}
@media only screen and (min-width: 630px) and (max-width: 767px) {

    .item-w0,.item-w6,.item-w9 { width: 450px; height: 450px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 225px; height: 225px}
    .packery{max-width: 490px;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .item-w0,.item-w6,.item-w9 { width: 380px; height: 380px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 190px; height: 190px}
    .packery{max-width: 760px;}
}
@media only screen and (min-width: 1500px) and (max-width: 2550px) {

    .item-w0,.item-w6,.item-w9 { width: 700px; height: 700px}

    .item-w-1,.item-w1,.item-w2,.item-w3,.item-w4 ,.item-w5,
    .item-w7,.item-w8,.item-w10,
    .item-w11,.item-w12,.item-w13,.item-w14,
    .item-w15{ width: 350px; height: 350px}
    .packery{max-width: 710px;}

    .packery{max-width: 1440px;}
}

.feed-first-text{
  background-color: white;
  padding: 20% 10% 0 0;
}
.feed-first-text .feed-title{
  font-size: 1.6em;
  line-height: 1.4em;
  font-family: 'Alternate-Gothic';
  color: #751a51;
}
.feed-first-text >.feed-title > p{
  color: black;
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.gutter-sizer {
  width: 2%;
}
.grid-sizer {
  width: 18.4%;
}

.spacer{
  height: 150px;
}
.follow{
    text-align: center;
    margin-top: 5px;
}
.follow a{
    margin:2px;
    color: #FAFAFA;
    background-color: #3d042d;
    padding: 7px
}
.follow a:hover{
    margin:2px;
    color: #FAFAFA;
    background-color: #63094a;
    padding: 7px
}


/*******header styles*******/

.header{
  background-image: url('../images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 60%;
  height:400px;
}
.logo{
  margin: 0 auto;
  width: 200px;
  margin-bottom: 20px;
  cursor:pointer;   position: relative;
  top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
}
.logo img{
  max-width: 180px;
}
nav{
  display: block;
  text-transform: uppercase;
}
.nav-item{
  display: inline-block !important;
  vertical-align: middle;
  font-size: 23px;
  padding: 20px;
}
.col-md-3{
    float: right !important;
    width: 400px !important;
}
.filter-section{
  width:600px;
  margin:27px auto;
}
.tc{
  text-align: center;
  margin: 0 auto;
}
.search-buttons{
  color:white;
  margin:15px auto;
}
.hastag{
  margin: 60px 0;
}
.hastag p{
  width: 60%;
}
.search-buttons span i {
  background-color: #63094a;
  width: 52px;
  height: 52px;
  border-radius: 26px;
  line-height: 52px;
  padding-left: 14px;
  cursor: pointer;
}
.search-buttons > span {
    padding-left: 14px;
}
